body{
    background-color: azure;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    border-bottom: 1px solid darkblue;
    text-align: center;
}

#dragstartdiv{
    background-color: aquamarine;
    border: 4px solid green;
    width: 150px;
    height: 100px;
    position: absolute;

}

#dragstopdiv{
    background-color: burlywood;
    border: 4px dashed blue;
    width: 150px;
    height: 100px;
    float: right;
    margin-right: 10px;
}