ul{
    color: chocolate;
}


.java1{
    color: blue;
}

.java2{
    color: aqua;
    border-bottom: 1px solid red;
}

.java3{
    color: cadetblue;
}


#li1{
    color: aliceblue;
    background-color: black;
}